body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html{
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/*efeito paralax */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1{
    background-image: url(/mesa.jpg);
    min-height: 100%;.bg
}

.bgimg-2{
    background-image: url(/note.jpg);
    min-height: 400px;
}

.bgimg-3{
    background-image: url(/sofa.jpg);
    min-height: 400px;
}

.w3-wide{letter-spacing: 10px;}
.w3-hover-opacity{cursor: pointer;}

@media only screen and(max-device-width:1600px){
    .bgimg-1, .bgimg-2, .bgimg-3{
        background-attachment: scroll;
        mn
    }
}
